.item {
  display: flex;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #F5F6F8;
  transition: all .2s ease;
  text-decoration: none;
  color: #282828;
  cursor: pointer;
}
.item:hover {
  background: #F5F6F8;
  cursor: pointer;
}

.item:last-child {
  border-bottom: none;
}
.user {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
  height: 100%;
  padding-left: 15px;
}
.name {
  display: flex;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  font-weight: 500;
}
.message {
  display: flex;
  width: 100%;
  padding-top: 5px;
}
.ansver__avatar {
  display: flex;

  width: 25px;
  height: 25px;
  border-radius: 50px;
  overflow: hidden;
}

.text {
  display: flex;
  width: calc(100% - 25px);
  height: 25px;
  line-height: 25px;
  padding-left: 10px;
  font-size: 14px;
  overflow: hidden;
}
























