.postAdd {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
}

.postAdd__textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 40px;
  line-height: 20px;
  transition: all .2s ease;
  background: #fff;
  border: 1px solid #e7e8ec;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: vertical;
  outline: none;
  padding: 10px;
  font-size: 14px;

}

.postAdd__textarea[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
  font-size: 14px;
  cursor: text;
}

.postAdd__textarea[placeholder]:empty:focus:before {
  content: "";
}

.postAdd__textarea + .postAdd__btn {
  display: flex;
  visibility: visible;
  opacity: 1;
  margin-top: 10px;
  transition: all .2s ease;
}
